* text=auto

*.py text eol=lf
*.md text eol=lf
*.tf text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.http text eol=lf
.dockerignore text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.gitkeep text eol=lf
Dockerfile text eol=lf
